/* Common */

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.container {
    padding: 100px 32px;
    max-width: calc(1200px + 32px + 32px);
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .container {
        padding: 80px 16px;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-en {
    font-size: 16px;
    line-height: 160%;
    color: rgba(255, 127, 80, 1);
}

.title-ko {
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    line-height: 160%;
    color: rgba(45, 52, 54, 1);
}

@media (max-width: 1023px) {
    .title-en {
        font-size: 14px;
    }

    .title-ko {
        font-size: 24px;
    }
}

/* Header */

#header {
    position: sticky;
    top: 0;
    min-height: 100px;
    border-bottom: 1px solid rgba(250, 250, 250, 1);
    background-color: rgba(255, 255, 255, 1);
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

#header .logo {
    color: rgba(41, 45, 47, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 160%;
    cursor: pointer;
}

#header .nav {
    display: flex;
    gap: 40px;
}

#header .nav a {
    height: 22px;
    color: rgba(45, 52, 54, 1);
}

#header .contact-icon-wrapper {
    display: none;
}

#header .contact-icon {
    color: rgba(45, 52, 54, 1);
    cursor: pointer;
}

@media (max-width: 1023px) {
    #header {
        min-height: 70px;
    }
    #header .logo {
        height: 29px;
        font-size: 18px;
    }
    #header .nav {
        display: none;
    }

    #header .contact-icon-wrapper {
        display: block;
    }

    #header .contact_icon {
        width: 26px;
        height: 26px;
    }
}

@media (max-width: 767px) {
    #header .logo {
        height: 26px;
        font-size: 16px;
    }

    #header .contact_icon {
        width: 24px;
        height: 24px;
    }
}

/* Main */

/* Main - 1. Intro */

#intro {
    background-color: #fafafa;
    min-height: 453px;
}

#intro .container {
    display: flex;
    gap: 16px;
}

#intro .thumbnail {
    flex: 1 1 0;
    text-align: center;
}

#intro .thumbnail img {
    max-width: 450px;
}

#intro .content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    color: rgba(41, 45, 47, 1);
}

#intro .content h2 {
    font-size: 24px;
    font-weight: 400;
}

#intro .content h2 strong {
    font-weight: 700;
    color: rgba(255, 127, 80, 1);
}

@media (max-width: 1023px) {
    #intro {
        position: relative;
    }

    #intro .container {
        min-height: 332px;
    }
    #intro .thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #intro .thumbnail img {
        width: 100%;
        max-width: initial;
        opacity: 0.05;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

/* Main - 2. Portfolio */

#portfolio {
    min-height: 912px;
}

#portfolio .container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#portfolio .content .list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 932px;
    margin: 0 auto;
}

#portfolio .content li {
    width: 300px;
    height: 300px;
}

#portfolio .content li img {
    min-width: 300px;
    width: 100%;
    height: 100%;
}

@media (max-width: 1023px) {
    #portfolio {
        min-height: 574px;
    }

    #portfolio .content {
        overflow-y: hidden;
        overflow-x: auto;
    }

    #portfolio .content .list {
        flex-wrap: nowrap;
        width: max-content;
    }
}

@media (max-width: 767px) {
    #portfolio {
        min-height: 474px;
    }
    #portfolio .content li {
        width: 200px;
        height: 200px;
    }

    #portfolio .content li img {
        min-width: 200px;
    }
}

/* Main - 3. Skills */

#skills {
    min-height: 568px;
    background-color: rgba(45, 52, 54, 1);
}

#skills .container {
    display: flex;
}

#skills .titles {
    flex: 1 1 auto;
}

#skills .titles .title-ko {
    color: rgba(223, 228, 234, 1);
}

#skills .content {
    flex: 1 1 auto;
}

#skills .content .list {
    display: flex;
    flex-direction: column;
}

#skills .list li {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    min-height: 80px;
}

#skills .list .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

#skills .list img {
    width: 30px;
    height: 30px;
}

#skills .list .skill {
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 1023px) {
    #skills {
        min-height: 642px;
    }

    #skills .container {
        flex-direction: column;
        gap: 32px;
    }
}

/* Main - 4. timeLine */

#timeline {
    background-color: rgba(250, 250, 250, 1);
}

#timeline .container {
    display: flex;
}

#timeline .container .titles {
    flex: 1 1 50%;
}

#timeline .container .content {
    flex: 1 1 50%;
}

#timeline .list li {
    display: flex;
    gap: 16px;
}

#timeline .list .date {
    flex: 0 0 150px;
    font-size: 18px;
    font-weight: 700;
    border-right: 1px solid black;
}

#timeline .list .my-time-line .title {
    font-weight: 700;
}

#timeline .list .my-time-line .description {
    color: rgba(99, 110, 114, 1);
}

@media (max-width: 1023px) {
    #timeline .container {
        flex-direction: column;
        gap: 32px;
    }
}

/* Main - 5. timeLine */

#contact .container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#contact .infomation .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#contact .infomation li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 150px;
    background-color: rgba(250, 250, 250, 1);
}

#contact .infomation li img {
    width: 30px;
    height: 30px;
}

#contact .infomation li {
    padding: 0 20px;
}

#contact .infomation li a {
    text-decoration: underline;
    font-size: 18px;
    font-weight: 700;
    color: rgba(99, 110, 114, 1);
    white-space: nowrap;
}

#contact .contact-to-me {
    display: flex;
    gap: 16px;
    /* min-height: 450px; */
}

#contact .contact-to-me form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#contact .contact-to-me #name,
#contact .contact-to-me #mail {
    padding-left: 16px;
    height: 60px;
    color: rgba(45, 52, 54, 0.5);
    border-radius: 4px;
    border: 1px solid black;
}

#contact .contact-to-me #message {
    height: 228px;
    padding-top: 16px;
    padding-left: 16px;
    color: rgba(45, 52, 54, 0.5);
    border-radius: 4px;
    border: 1px solid black;
}

#contact .contact-to-me #button {
    height: 60px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: rgba(250, 250, 250, 1);
    background-color: rgba(99, 110, 114, 1);
    cursor: pointer;
}

#contact .contact-to-me .img-wrapper {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .contact-to-me img {
    width: 100px;
    height: 100px;
}

@media (max-width: 1023px) {
    #contact .infomation .list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #contact .contact-to-me .img-wrapper {
        display: none;
    }
}

@media (max-width: 767px) {
    #contact .infomation .list {
        grid-template-columns: 1fr;
    }
}

/* Footer */

#footer {
    background-color: #2d3436;
}

#footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 14px;
    color: rgba(223, 228, 234, 1);
}

#footer span {
    display: none;
}

#footer strong {
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 767px) {
    #footer .container {
        font-size: 0;
    }

    #footer span {
        display: block;
    }

    #footer span,
    #footer strong {
        font-size: 14px;
    }
}
